SECRET_KEY =
DEBUG =

NAME =

USER =

DB_PASSWORD =

HOST =


PORT =

ADMIN_USERNAME = 'Введите имя администратора'
ADMIN_EMAIL = 'Введите почту администратора'
ADMIN_PASSWORD = 'Введите пароль для аккаунта администратора'