{% extends 'blog_base.html' %}


{% block content %}
<div class="container">
    <article>
        <h1>{{ article.title }}</h1>
        <div class="text-muted mb-3">
            Автор: {{ article.author.username }} |
            Дата: {{ article.created_at|date:"d.m.Y" }} |
            Просмотров: {{ article.number_of_views }}
        </div>

        {% if article.preview %}
        <img src="{{ article.preview.url }}" class="img-fluid mb-4">
        {% endif %}

        <div class="article-content">
            {{ article.content|linebreaks }}
        </div>
    </article>
    {% if user == article.owner or perms.blog.can_change_any_article %}
    <a href="{% url 'blog:article_update' article.pk %}" class="btn btn-primary">Редактировать</a>
    {% endif %}

    {% if user == article.owner or perms.blog.can_delete_any_article %}
    <a href="{% url 'blog:article_delete' article.pk %}" class="btn btn-danger">Удалить статью</a>
    {% endif %}
</div>
{% endblock %}