<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="{% url 'users:login' %}" class="text-dark text-decoration-none">Мой профиль</a>
    </h5>
    <nav class="ms-5">
        {% if user.is_authenticated %}
            <span class="me-3">Привет, {{ user.username }}!</span>
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar-sm me-2">
            {% endif %}
            <a class="btn btn-sm btn-outline-danger me-2" href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
            <a class="btn btn-sm btn-success me-2" href="#">Регистрация</a>
            <a class="btn btn-sm btn-outline-primary me-2" href="{% url 'users:login' %}">Войти</a>
        {% endif %}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog:greeting' %}">Вернуться в блог</a>
    </nav>
</div>